.cityList {
    display: flex;
    gap: 32px;
    padding: 0;
}

.cityItem {
    width: 370px;
    display: flex;
    justify-content: space-between;
}

.button {
    background-color: inherit;
    border: none;
}

.li {
    position: relative;
}

.modalWrapper {
    background-color: #FFF;
    width: 232px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    position: absolute;
    right: 10px;
    top: 65px;
}

.modalItem {
    padding: 12px 31px;
    display: flex;
    align-items: center;
    gap: 22px;
    background-color: #FFF;
    border: none;
}

.grayButton {
    background-color: #BDBDBD;
}